*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 5rem;
   background-color: #e41616;
}

button {
   padding: 0.5rem 2rem;
   border: none;
   border-radius: 0.5rem;
   background-color: #000000;
   color: #ffffff;
   cursor: pointer;
  font-size: 1rem;
   transition: all 0.3s ease;
}

button:disabled {
    background-color: #4f4f4f4b;
    cursor: not-allowed;
    color: #b4b4b469;
}

input {
    width: 35vh;
   padding: 1rem;
   border: 1px solid #000;
   border-radius: 0.5rem;
   background-color: #fff;
   color: #000;
   font-size: 1rem;
   font-family: 'Roboto', sans-serif;
   outline: none;
}

.inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.state-container {
    position: fixed;
    bottom: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    display: none;
}

.show {
    display: block;
}

.success {
    background-color: #02c13b86;
    border: 1px solid #ffffff;
}

.error {
    background-color: #02010181;
    border: 1px solid #ffffff;
}

.logo {
    width: 200px;
}
.balloon {
    width: 100%;
  
}